.time-cell,.time-label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: var(--cell-bg-color);
    border: var(--border);
}

.time-cell {
    width: var(--cell-width);
    height: var(--cell-height);
}

.time-label {
    width: var(--cell-width);
    height: var(--cell-height);
    text-align: center;
}

.time-cell:hover {
    opacity: 0.8;
}

.schedule {
    position: absolute;
    width: calc(var(--cell-width) - 2px);
    border: var(--border);
    padding: 0 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.schedule:hover {
    -webkit-box-shadow: var(--schedule-box-shadow);
    -moz-box-shadow: var(--schedule-box-shadow);
    box-shadow: var(--schedule-box-shadow);
    transition: 0.3s;
    z-index: 2;
}
